<header class="header">
  <a href="#" class="logo">Angular-Portfolio</a>
  <div class="menu-icon-container">
    <i class='bx bx-menu' id="menu-icon" (click)="addMenuIconClickListener()"></i>
    <span class="tooltip">Click twice to open/close</span>
  </div>
  <nav class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
<!-- Home components of the website -->
<section class="home" id="home">
  <div class="home-component">
    <h3>Hello there! It's Me</h3>
    <h1>Abhishek</h1>
    <h3>and I am a <span>Software Engineer</span></h3>
    <p>Welcome to my portfolio website! I am currently working with Biz2X, where I specialize in MEAN Stack development. This website serves as a demonstration of my skills, showcasing my journey and projects.</p>
    <p> If interested, you can read the README file using the Read button below.</p>
    <div class="social-media">
      <a href="https://in.linkedin.com/in/abhishekp1613" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
      <a href="https://github.com/Abhishek-1613" target="_blank"><i class='bx bxl-github'></i></a>
      <a href="https://www.instagram.com/joker_ap1613/" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
      <a href="mailto:abhishek@biz2x.com" target="_blank"><i class='bx bxl-gmail'></i></a>
    </div>
    <a href="text_files/README.txt" target="_blank" class="btn">Read</a>
  </div>
  <div class="home-image">
    <img src="images/pic1.png" alt="Abhishek's Portfolio Picture">
  </div>
</section>

<!-- about section components -->
<section class="about" id="about">
  <div class="about-image">
    <img src="images/pic2.jpg" alt="Abhishek-About-Image"/>
  </div>
  <div class="about-component">
    <h2 class="heading">About <span>Me</span></h2>
    <h2 class="heading-2">Currently working as <span>Associate SWE at Biz2X!!</span></h2>
    <p class="job-description">As an Associate Software Engineer, I will be involved in developing and maintaining software applications, collaborating with cross-functional teams, and contributing to project management.</p>
    <a href="#education" class="btn">Professional Life</a>
  </div>
</section>

<!-- education component -->
<section class="education" id="education">
  <div class="education-component">
    <h2 class="heading">Professional <span>Background</span></h2>
    <div class="education-container">
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-icon"></div>
          <div class="timeline-content">
            <h3>Associate SWE</h3>
            <p>Working at Biz2X on MEAN-Stack</p>
            <span>Year: 2024 - Present</span>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon"></div>
          <div class="timeline-content">
            <h3>Bachelor of Technology</h3>
            <p>Studied Computer Science at IIIT-Delhi College</p>
            <span>Year: 2020 - 2024</span>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon"></div>
          <div class="timeline-content">
            <h3>12th Grade</h3>
            <p>Completed from Air Force School (PCM + CS)</p>
            <span>Year: 2018 - 2019</span>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon"></div>
          <div class="timeline-content">
            <h3>10th Grade</h3>
            <p>Completed from Air Force School</p>
            <span>Year: 2016 - 2017</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="education-image">
    <img src="images/education.png" alt="Education Image" />
  </div>
</section>

<!-- Projects section -->
<section class="projects" id="projects">
  <h2 class="heading">Projects <span>I have worked on</span></h2>
  <div class="project-box" *ngFor="let project of projects">
    <i class='bx bxl-angular' ></i>
      <i class='bx bxl-nodejs' ></i>
      <i class='bx bxl-typescript' ></i>
      <i class='bx bxl-javascript' ></i>
      <i class='bx bxl-css3' ></i>
      <i class='bx bxl-html5' ></i>
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>
    <button class="btn" (click)="openModal(project)">Know more</button>
  </div>
</section>

<!-- Modal for project details -->
<div class="modal" *ngIf="isModalOpen" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <h3>{{ selectedProject?.title }}</h3>
    <img [src]="selectedProject?.image" alt="{{ selectedProject?.title }}" />
    <p>{{ selectedProject?.details }}</p>
  </div>
</div>



 <!-- Projects section components -->
 <!-- <section class="projects" id="projects">
    <h2 class="heading">Projects <span>I have worked on</span></h2>
    <div class="project-box">
      <i class='bx bxl-angular' ></i>
      <i class='bx bxl-nodejs' ></i>
      <i class='bx bxl-typescript' ></i>
      <i class='bx bxl-javascript' ></i>
      <i class='bx bxl-css3' ></i>
      <i class='bx bxl-html5' ></i>
      <h3>Angular Portfolio Website</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo voluptatum omnis excepturi facilis? Voluptates sapiente odio asperiores natus quod modi nisi labore! Blanditiis fugiat voluptates quasi, debitis illo voluptate vero.</p>
      <a href="#" class="btn">Know more</a>
    </div>

    <div class="project-box">
      <i class='bx bxl-react' ></i>
      <i class='bx bxl-nodejs' ></i>
      <i class='bx bxl-mongodb' ></i>
      <i class='bx bxl-django' ></i>
      <i class='bx bxl-javascript' ></i>
      <i class='bx bxl-css3' ></i>
      <i class='bx bxl-html5' ></i>
      <h3>Online E-Shopper Website</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo voluptatum omnis excepturi facilis? Voluptates sapiente odio asperiores natus quod modi nisi labore! Blanditiis fugiat voluptates quasi, debitis illo voluptate vero.</p>
      <a href="#" class="btn">Know more</a>
    </div>

    <div class="project-box">
      <i class='bx bx-code-block'></i>
      <i class='bx bxl-python' ></i>
      <i class='bx bxl-css3' ></i>
      <i class='bx bxl-html5' ></i>
      <i class='bx bx-search-alt' ></i>
      <i class='bx bxl-google-cloud' ></i>
      <h3>Sentence Emotion Analyzer</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo voluptatum omnis excepturi facilis? Voluptates sapiente odio asperiores natus quod modi nisi labore! Blanditiis fugiat voluptates quasi, debitis illo voluptate vero.</p>
      <a href="#" class="btn">Know more</a>
    </div>

    <div class="project-box">
      <i class='bx bx-code-block'></i>
      <i class='bx bxl-python' ></i>
      <i class='bx bxl-postgresql' ></i>
      <i class='bx bxl-flask' ></i>
      <i class='bx bxl-django' ></i>
      <h3>Online Banking Management Website</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo voluptatum omnis excepturi facilis? Voluptates sapiente odio asperiores natus quod modi nisi labore! Blanditiis fugiat voluptates quasi, debitis illo voluptate vero.</p>
      <a href="#" class="btn">Know more</a>
    </div>
  </section> -->

  <!-- Contact component -->
  <!-- <section class="contact" id="contact">
    <h2 class="heading">Connect with <span>Me!</span></h2>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email Address">
      </div>
      <div class="input-box">
        <input type="number" placeholder="Mobile Number">
        <input type="text" placeholder="Email Subject">
      </div>
      <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
      <input type="submit" value="Send Message" class="btn">
    </form>
  </section> -->
<!-- Contact component -->
<section class="contact" id="contact">
  <h2 class="heading">Connect with <span>Me!</span></h2>
  <form (submit)="showDialog($event)">
    <div class="input-box">
      <input type="text" placeholder="Full Name" required>
      <input type="email" placeholder="Email Address" required>
    </div>
    <div class="input-box">
      <input type="number" placeholder="Mobile Number" required>
      <input type="text" placeholder="Email Subject" required>
    </div>
    <textarea cols="30" rows="10" placeholder="Your Message" required></textarea>
    <input type="submit" value="Send Message" class="btn">
  </form>

  <!-- Dialog Box -->
  <div class="dialog" *ngIf="isDialogOpen" (click)="closeDialog()">
    <div class="dialog-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeDialog()">&times;</span>
      <h3>Yay! Your message has been sent!</h3>
      <p>Thank you for reaching out. I will get back to you soon.</p>
      <button (click)="closeDialog()" class="btn">Close</button>
    </div>
  </div>
</section>



  <!-- footer component -->
   <footer class="footer">
    <div class="footer-text">
      <p>Copyright &copy; 2024 by Abhishek-1613 || All Rights are reserved.</p>
    </div>
    <div class="footer-iconTop">
      <a href="#home"><i class='bx bxs-up-arrow-circle'></i></a>
    </div>
   </footer>